@font-face {
    font-family: 'DINCondensedLight';
    src: url('fonts/DINConLig.eot');
    src: local('☺'), url('fonts/DINConLig.woff') format('woff'), url('fonts/DINConLig.ttf') format('truetype'), url('fonts/DINConLig.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINCondensedMedium';
    src: url('../fonts/DINConMed.eot');
    src: local('☺'), url('../fonts/DINConMed.woff') format('woff'), url('../fonts/DINConMed.ttf') format('truetype'), url('../fonts/DINConMed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINCondensedBold';
    src: url('../fonts/DIN Condensed Bold.eot');
    src: local('☺'), url('../fonts/DIN Condensed Bold.woff') format('woff'), url('../fonts/DIN Condensed Bold.ttf') format('truetype'), url('../fonts/DIN Condensed Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DINCondensedMedium', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
h2 {
    font-family: 'DINCondensedBold', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 64px;
    text-align: center;
    color: #fff;
}
hr {
    display: block;
    width: 100%;
    border-top: 1px solid #6fff76;
}
.navbar-default {
    background: #e9eaec;
    height: 100px;
    padding: 25px 0;
    transition: .5s;
}
.navbar-default.shrink {
    height: 60px;
    padding: 5px 0;
    transition: .5s;
}
.navbar-fixed-top {
    border-bottom: 1px solid #939395;
}
.navbar-brand>img {
    height: 40px;
    margin-top: -10px;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'DINCondensedMedium', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #231f20;
    letter-spacing: 0.7px;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.subnav .navbar-nav>li>a:hover,
.subnav .navbar-nav>li>a:focus {
    color: #43f839;
    transition: .2s;
}
.btn {
    border: 0;
}
.static-logo {
    position: absolute;
    z-index: 1;
    height: 240px;
    left: 40px;
    top: 40px;
}
.navbar-nav>li>a.btn-inverse {
    background: #111;
    color: #fff;
    padding: 4px 12px 2px;
    margin: 11px 20px;
    border-radius: 2px;
}
.navbar-nav>li>a.btn-inverse:hover,
.navbar-nav>li>a.btn-inverse:focus {
    background: #333;
    color: #ecf0f1;
}
.content {
    background: #3a3a3c;
    padding: 0 55px;
    position: relative;
}
.content p {
    color: #fff;
}
.content .subnav {
    margin: -20px 0 20px;
    transition: .5s;
}
#videoPage .subnav {
    background: #3f3f3f;
    padding: 35px 0 20px 35px;
}
#videoGallery .subnav {
    padding: 0 35px;
    margin-bottom: 320px;
}
#videoGallery .subnav.fixed-top {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1030;
    width: 100%;
    transition: .5s;
    padding: 0;
}
.subnav .subtitle {
    font-family: 'DINCondensedBold', sans-serif;
    font-size: 24px;
    color: #6fff76;
}
.subnav .title {
    font-size: 32px;
    color: #fff;
}
.subnav .navbar-nav>li:first-child>a {
    padding-left: 0;
}
.subnav .navbar-nav>li>a {
    font-family: 'DINCondensedMedium', sans-serif;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    padding: 5px 15px;
    color: #fff;
}
.subnav hr {
    padding-right: -60px;
    border-top: 2px solid #6fff76;
}
#videoArea {
    margin-top: 20px;
}
.content .videoWrapper {
    position: relative;
    padding-bottom: 50%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.content .playButtonArea {
    margin-top: 20%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transform: translateY(42%);
}
.content #play-button {
    position: relative;
    margin: 0;
    padding: 18px 54px;
    font-size: 18px;
    background: #fff;
    color: #111;
}
.content #play-button:hover,
.content #play-button:focus {
    background: #6fff76;
    border: 2px solid #6fff76;
    color: #fff;
}
.content .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content .description {
    font-size: 18px;
    line-height: 1.6em;
    color: #fff;
    font-weight: 300;
    padding: 10px 0;
}
.content .infocolumn .title {
    font-weight: bold;
    color: #6fff76;
}
.content .infocolumn {
    margin-bottom: 60px;
    padding: 15px 0 10px 15px;
}
.content .infocolumn a {
    color: #fff;
}
.content .infocolumn a:hover,
.content .infocolumn a:focus {
    color: #6fff76;
    transition: .2s;
    text-decoration: none;
}
h3.title {
    color: #6fff76;
}
.content .related {
    padding: 0 15px;
    border-left: 1px solid #6fff76;
}
.content .related .video {
    text-align: center;
    padding: 20px 0 30px;
    text-shadow: 1px 1px 5px #111, -1px -1px 5px #111;
    border: 1px solid #3a3a3c;
}
.content .related .video h4 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
}
.content .related .video p {
    color: #6fff76;
    font-weight: 500;
}
.videoDescription h1 {
    color: #fff;
}
.videoDescription p {
    color: #6fff76;
    font-weight: bold;
    font-size: 18px;
}
.btn-primary-outline {
    border: 2px solid #fff;
    text-transform: uppercase;
    font-family: 'DINCondensedMedium';
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: none;
    transition: .2s;
    padding: 8px 32px;
    margin-top: 20px;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
    background: #fff;
    color: #111;
    transition: .2s;
}
.titleImage {
    padding: 10px;
}
.titleImage img {
    max-height: 73px;
}
.timetable {
    position: relative;
}
.timetable a {
    color: #6fff76;
    cursor: pointer;
}
#videoGallery .subnav .filters {
    background: #6fff76;
}
#videoGallery .subnav .filters h1 {
    font-family: 'DINCondensedBold';
    color: #fff;
    font-size: 45px;
    text-align: center;
    margin: 40px 0 0;
}
#videoGallery .subnav .filters .sort {
    display: table;
    width: 100%;
    padding: 10px 0;
}
#videoGallery .subnav .filters .sort .images,
#videoGallery .subnav .filters .sort .text {
    display: table-row;
}
#videoGallery .subnav .filters .instruction,
#videoGallery .subnav .filters .sortby {
    display: table-cell;
}
#videoGallery .subnav .filters .instruction {
    font-family: 'DINCondensedBold';
    text-transform: uppercase;
    color: #111;
    font-size: 18px;
}
#videoGallery .subnav .filters .text .sortby {
    border-right: 1px solid #111;
    color: #111;
    text-align: center;
    font-size: 12px;
}
#videoGallery .subnav .filters .text .sortby:last-child {
    border-right: none;
}
#videoGallery .subnav .filters .images img {
    margin: 0 auto;
    height: 40px;
}
#videoGallery .subnav .filters img.teek {
    padding: 10px 30px 10px 0;
    margin: 0 auto;
}
#videoGallery .subnav .search {
    width: 100%;
    height: 93px;
    background: #fff;
}
.searchcolumn {
    padding: 0 0 0 2px;
}
#videoGallery .subnav .search input {
    height: 100%;
    width: 100%;
    padding: 60px 40px 30px;
    background-image: url(../img/otsing.svg);
    font-family: 'DINCondensedMedium';
    font-size: 32px;
    border: 0;
    background-position: 100px center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
}
#videoGallery .subnav .search input:focus {
    background-position: -200px center;
}
.dropdowns {
    margin-top: 2px;
}
.dropdowns .col-md-4 {
    padding: 20px 15px;
    background: #fff;
}
.subnav select {
    padding: 30px 15px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 18px;
}
#videoGallery .slider {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    min-height: 320px;
}
#videoGallery .content {
    background: #fff;
}
#videoGallery .gallery {
    margin: -60px 95px 0;
    border: 2px solid #fff;
}
#videoGallery .video .btn-primary-outline {
    border: 2px solid #fff;
    text-transform: uppercase;
    font-family: 'DINCondensedMedium';
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: none;
    transition: .2s;
    padding: 8px 32px;
    margin-top: 20px;
}
#videoGallery .video .btn-primary-outline:hover,
#videoGallery .video .btn-primary-outline:focus {
    background: #fff;
    color: #111;
    transition: .2s;
}
#videoGallery .video {
    position: relative;
    display: table;
    text-align: center;
    *text-shadow: 1px 1px 5px #111, -1px -1px 5px #111;
    border: 1px solid #fff;
}
#videoGallery .video .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #111;
    opacity: 0.5;
}
#videoGallery .col-md-4.video {
    height: 200px;
}
#videoGallery .col-md-3.video {
    height: 160px;
}
#videoGallery .col-md-6.video {
    height: 320px;
}
#videoGallery .video .wrapper {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
#videoGallery .video h4 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
}
#videoGallery .video h4 span {
    border-bottom: 1px solid #fff;
}
#videoGallery .video p {
    color: #6fff76;
    color: #fff;
    font-weight: 500;
}
#videoGallery .loadmore {
    text-align: center;
    margin: 100px 0;
}
#videoGallery .loadmore .btn-primary-outline {
    border: 2px solid #6fff76;
    text-transform: uppercase;
    font-family: 'DINCondensedBold';
    font-size: 32px;
    letter-spacing: 1px;
    color: #111;
    text-shadow: none;
    transition: .2s;
    padding: 16px 48px 8px;
}
#videoGallery .loadmore .btn-primary-outline:hover,
#videoGallery .loadmore .btn-primary-outline:focus {
    background: #6fff76;
}
#videoGallery a.topics {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
#videoGallery a.topics img {
    height: 48px;
}
#videoGallery .tooltip.top {
    font-family: 'DINCondensedBold';
    white-space: nowrap;
    left: 50%!important;
    padding: 10px 0;
}
.tooltip.in {
    opacity: 1;
}
#videoGallery .tooltip-inner {
    background: #6fff76;
    border-radius: 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 12px 4px;
}
#videoGallery .tooltip.top .tooltip-arrow {
    border-width: 8px 8px 0 0;
    bottom: 2px;
    left: 0!important;
    margin-left: 0;
    border-top-color: #6fff76;
}
#carousel .item img {
    min-width: 100%;
}
.carousel-indicators li {
    width: 16px;
    height: 12px;
    border-radius: 2px;
    margin: 0;
    border: 1px solid #6fff76;
    background: #6fff76;
}
.carousel-indicators li.video {
    position: relative;
}
.carousel-indicators li.video img {
    height: 8px;
    margin: 1px auto;
}
.carousel-indicators .active {
    width: 16px;
    height: 12px;
    border: 1px solid #fff;
}
.searchcontainer {
    background: #e9eaec;
    padding: 10px 0 30px;
}
.homesearch {
    padding: 0 60px;
}
.homesearch input {
    text-transform: uppercase;
}
.homesearch input.form-control {
    height: 100%;
    width: 100%;
    padding: 10px 15px 4px;
    font-family: 'DINCondensedMedium';
    font-size: 24px;
    border: 0;
    border-radius: 2px;
}
.homesearch .btn-primary {
    font-family: 'DINCondensedMedium';
    font-size: 20px;
    padding: 12px 48px 6px;
    width: 100%;
    background: #43f839;
    border-radius: 2px;
}
.homesearch .btn-primary:hover,
.homesearch .btn-primary:focus {
    opacity: 0.7;
}
.cta {
    background: #6fff76;
    text-align: center;
    padding: 8px 0;
}
.cta .btn {
    margin: 8px 0;
    text-transform: uppercase;
    font-family: 'DINCondensedMedium';
    font-size: 20px;
    padding: 8px 48px 4px;
    background: #111;
    border-radius: 2px;
    color: #6fff76;
}
.cta .btn:hover,
.cta .btn:focus {
    background: #333;
}
.cta .evlogo img {
    text-align: left;
    height: 56px;
}
.containsimage,
.skewed {
    padding: 0;
}
.textcontent {
    position: relative;
    z-index: 1;
    background: #fff;
}
.textcontent .textcontainer {
    padding: 40px 55px 60px;
    font-size: 16px;
    line-height: 1.5em;
}
.textcontent .skew:before {
    content: '';
    position: absolute;
    left: 0;
    top: -60px;
    overflow: visible;
    width: 100%;
    height: 240px;
    background: #fff;
    z-index: -1;
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-backface-visibility: hidden;
}
.textcontent p {
    margin: 20px 0 20px;
}
.textcontent .bg {
    background: #e9eaec;
    padding: 0 15px;
}
.formcontent {
    padding: 60px 55px 40px;
    background: #333;
}
p.highlighted {
    color: #6fff76;
    font-size: 1.2em;
    line-height: 1.5em;
}
.formcontent h2 {
    margin-bottom: 50px;
}
.formcontent .description,
.formcontent .titlecolumn {
    color: #fff;
}
.formcontent .title {
    margin-top: 5px;
}
.formcontent hr {
    border-top: 1px solid #fff;
}
.formcontent input.form-control,
.formcontent textarea.form-control {
    height: 100%;
    text-transform: uppercase;
    padding: 8px 12px 4px;
    font-family: 'DINCondensedMedium';
    font-size: 24px;
    border: 0;
    border-radius: 2px;
    background: rgba(255, 255, 255, .8);
}
.formcontent .radios input[type="radio"]:checked {
    border: 2px solid #fff;
}
input[type="radio"]:checked,
input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
.formcontent .radioselect {
    padding: 10px 16px;
    border-radius: 2px;
    border: 1px solid #fff;
    margin: 0 2px 0 0;
    cursor: pointer;
}
:checked + .radioselect,
.radioselect:hover,
.formButton:focus {
    background: #fff;
    transition: .2s;
    color: #6fff76;
}
.radios label {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.formcontent .fileupload.form-control {
    background: #fff;
}
.formcontent .btn-primary-outline {
    border: 2px solid #fff;
    text-transform: uppercase;
    font-family: 'DINCondensedMedium';
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: none;
    transition: .2s;
    padding: 6px 48px 3px;
}
.formcontent .btn-primary-outline:hover,
.formcontent .btn-primary-outline:focus {
    background: #fff;
    color: #6fff76;
}
.formcontent .button {
    text-align: center;
}
.formcontent input.btn-primary {
    background: #fff;
    text-transform: uppercase;
    font-family: 'DINCondensedMedium';
    font-size: 20px;
    letter-spacing: 1px;
    color: #111;
    text-shadow: none;
    transition: .2s;
    padding: 10px 48px 5px;
}
.formcontent input.btn-primary:hover,
.formcontent input.btn-primary:focus {
    background: #e9eaec;
    color: #333;
}
.quote {
    position: relative;
}
.quote .quotecontainer {
    position: absolute;
    bottom: 120px;
    right: 20%;
    width: 420px;
}
.quotecontainer .lefttitle {
    text-align: left;
    background: #6fff76;
    display: inline;
    color: #fff;
    padding: 20px 60px 10px 30px;
    font-size: 36px
}
.quotecontainer .righttitle {
    text-align: right;
    display: inline;
    background: #111;
    color: #fff;
    font-size: 36px;
    margin: 0px 200px;
    padding: 20px 55px 10px 30px;
}
.quotecontainer .quotetext {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 60px 20px 5px;
    margin-top: -40px;
    font-size: 16px;
    line-height: 1.5em;
}
.quotecontainer .author {
    color: #6fff76;
    font-size: 24px;
    line-height: 2em;
}
.teemad {
    padding: 40px 55px;
    background: url(../img/pilt5.jpg);
    background-size: cover;
}
.teemad h2 {
    text-shadow: 1px 1px 1px #111;
}
.teema {
    text-align: center;
    padding: 5px;
}
.teema table {
    height: 100%;
    width: 100%;
    background: rgba(111, 255, 118, .9);
    color: #fff;
}
.teema.lg {
    height: 320px;
}
.teema.lg h3 {
    font-size: 32px;
}
.teema.md {
    height: 240px;
}
.teema.md h3 {
    font-size: 28px;
}
.teema.sm {
    height: 160px;
}
.teema.sm h3 {
    font-size: 20px;
}
.teema a:hover,
.teema a:focus {
    text-decoration: none;
}
.teema a:hover table,
.teema a:focus table {
    color: #111;
    background: rgba(255, 255, 255, .9);
    transition: .2s;
}
.teema .btn-primary-outline {
    border: 2px solid #fff;
    text-transform: uppercase;
    font-family: 'DINCondensedMedium';
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: none;
    transition: .2s;
    padding: 6px 18px 3px;
}
.teema a:hover .btn-primary-outline,
.teema a:focus .btn-primary-outline {
    border: 2px solid #6fff76;
    color: #6fff76;
}
.toetajad {
    background: #fff;
}
.toetajad .header {
    background: #6fff76;
    padding: 30px 0;
}
.toetajad .text {
    font-size: 22px;
    padding: 0 55px;
    color: #fff;
    margin: 30px 0 240px;
}
.darkened {
    color: #111;
}
.list {
    padding: 0 40px;
    margin: -240px 0 0;
}
.list table {
    width: 100%;
    background: #f3f3f3;
}
.list table h3 {
    color: #43f839;
}
.list table td {
    padding: 15px;
    font-weight: bold;
}
.list table.special td {
    font-weight: normal;
}
.list table.lg {
    margin-bottom: 30px;
}
.list table.lg td {
    width: 33.333%;
}
.list table.md {
    height: 640px;
}
.unitas {
    padding: 30px 40px;
}
.unitas h3 {
    margin-top: 0;
    color: #43f839;
    text-align: left;
}
.toetus {
    background: #f3f3f3;
    padding: 60px 55px 40px;
}
.toetus h2 {
    color: #43f839;
    margin-bottom: 40px;
}
.toeta {
    background: #6fff76;
    padding: 50px 0;
}
.toeta hr {
    border-bottom: 1px solid #fff;
}
.toeta table {
    width: 100%;
    margin: 60px 0;
}
.toeta table.equal td {
    width: 50%;
    color: #fff;
    font-size: 20px;
}
.toeta table img {
    margin: 0 auto;
}
.toeta table td {
    color: #fff;
    font-size: 24px;
    padding: 10px;
}
.toeta .btn-primary {
    font-family: 'DINCondensedBold';
    font-size: 20px;
    letter-spacing: 1px;
    color: #111;
    background: #fff;
    text-shadow: none;
    transition: .2s;
    width: 100%;
    padding: 10px 18px 5px;
    margin: 0 20px 10px;
}
.toeta .btn-primary:hover,
.toeta .btn-primary:focus {
    color: #333;
    background: #ecf0f1;
}
.donation p {
    font-size: 24px;
    color: #fff;
}
.donation .input-group {
    margin: 0 -20px 0 20px;
}
.donation .input-group .form-control {
    padding: 10px 18px 5px;
    font-family: 'DINCondensedBold';
    font-size: 20px;
    letter-spacing: 1px;
    height: auto;
    border: none;
}
ul.socialshare {
    list-style: none;
    -webkit-padding-start: 0;
    -webkit-margin-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
ul.socialshare li {
    display: inline-block;
    padding: 0px 10px;
}
ul.socialshare a {
    color: #fff;
}
ul.socialshare a:hover,
ul.socialshare a:focus {
    color: #6fff76;
    text-decoration: none;
}
@media (max-width: 767px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
        background: #fff;
        position: relative;
        z-index: 1;
    }
    .navbar-default {
        height: 50px;
        padding: 0;
        text-align: center;
        position: fixed;
        top: 0;
        z-index: 1030;
        width: 100%;
    }
    #videoArea {
        padding-top: 60px;
    }
    #videoGallery .subnav .search {
        width: 100%;
        height: 73px;
        background: #fff;
    }
    .searchcolumn {
        padding: 2px 0 0;
    }
    #videoGallery .subnav .search input {
        height: 100%;
        width: 100%;
        padding: 24px 16px 12px;
        background-image: url(../img/otsing.svg);
        font-family: 'DINCondensedMedium';
        font-size: 32px;
        border: 0;
        background-position: 100px center;
        background-repeat: no-repeat;
        -webkit-transition: all 0.2s;
        -moz-transition: all 2s;
        transition: all 0.2s;
    }
    #videoGallery .subnav.fixed-top {
        top: 50px;
    }
    .subnav .navbar-nav>li:first-child>a {
        padding-left: 15px;
    }
    .content .titlecolumn {
        text-align: left;
    }
    .content .subnav {
        margin: 0 0 20px;
    }
    .content {
        padding: 0 20px;
    }
    #videoGallery .subnav .filters img.teek {
        padding: 0;
        display: none;
    }
    #videoGallery .gallery {
        margin: -60px 20px 0;
    }
    #videoGallery .video h4 {
        color: #fff;
        font-size: 18px;
        margin-bottom: 0;
    }
    #videoGallery .video p {
        color: #6fff76;
        font-weight: 500;
        font-size: 12px;
    }
    #videoGallery .video .btn-primary-outline {
        font-size: 12px;
        padding: 4px 24px 1px;
        margin-top: 10px;
    }
    #videoGallery .subnav {
        padding: 0 10px;
        margin-bottom: 180px;
    }
    .content .related {
        border-left: none;
    }
}
@media (min-width:768px) and (max-width:1064px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 12px;
        padding: 15px 5px;
        margin-right: 5px;
    }
    .navbar-nav>li>a.btn-inverse {
        margin: 11px 5px;
        padding: 4px 12px;
    }
}
