.newsletter
    background: linear-gradient(to right, #73e1e0 0%, #3fbebc 100%)
    &--content
        display: flex
        align-items: flex-start
        flex-wrap: wrap
    .u-content
        margin-right: 40px
        flex: 1
        min-width: 400px
        margin-bottom: 40px
    &-form
        display: flex
        align-items: flex-start
        min-width: 500px
        .input
            position: relative
            margin-right: 20px
            label
                display: block
                margin-bottom: 10px
                font-size: 16px
                line-height: 20px
                font-weight: 700
            input
                display: block
                appearance: none
                padding: 13px 43px 13px 13px
                height: 60px
                width: 335px
                appearance: none
                border: 2px solid #2EA8A6
                border-radius: 6px
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)
                background: $white
        .btn
            padding: 20px
            margin-top: 30px
    @media (max-width: 768px)
        &--content
            display: block
        .u-content
            min-width: 1px
            margin: 0 0 40px
        &-form
            display: block
            min-width: 1px
            .input
                margin: 0
                input
                    width: 100%
            .btn
                margin-top: 10px
                width: 100%
