extends /layout


block content
    main.main.u-container
        article.article
            h1 Õppematerjalid
            .u-content
                .u-content--split
                    .u-content--block
                        h2 Ajalooõpe
                        h3 Kasutusvõimalused
                        p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur
                            a(href='') purus sit amet fermentum.
                        ul.links
                            li
                                i.fa.fa-download
                                a(href='')
                                    span Metoodika.pdf
                                    small (352KB, PDF)
                            li
                                i.fa.fa-list
                                a(href='')
                                    span Teemad

                        h3 Tunnikavad
                        .accordion
                            .accordion--item
                                a(href='') Egestas Elit Malesuada
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
                                    a.video-teaser(href='video-detail.html')
                                        img(src='/assets/images/data/mappopupimg.png', alt='')
                                        .text
                                            p.title
                                                span Adam Brown
                                            p Eesti päritolu väärtustamine

                            .accordion--item
                                a(href='') Porta Commodo Tristique
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
                            .accordion--item
                                a(href='') Nibh Lorem
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
                            .accordion--item
                                a(href='') Amet Condimentum
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
                            .accordion--item
                                a(href='') Egestas Elit Malesuada
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
                    .u-content--block
                        h2 Inimõiguste õpe
                        h3 Kasutusvõimalused
                        p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur
                            a(href='') purus sit amet fermentum.
                        ul.links
                            li
                                i.fa.fa-download
                                a(href='')
                                    span Metoodika.pdf
                                    small (352KB, PDF)
                            li
                                i.fa.fa-list
                                a(href='')
                                    span Teemad

                        h3 Tunnikavad
                        .accordion
                            .accordion--item
                                a(href='') Porta Commodo Tristique
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
                            .accordion--item
                                a(href='') Nibh Lorem
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
                            .accordion--item
                                a(href='') Egestas Elit Malesuada
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
                            .accordion--item
                                a(href='') Egestas Elit Malesuada
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
                            .accordion--item
                                a(href='') Egestas Elit Malesuada
                                .accordion--content
                                    p Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    ul.links
                                        li
                                            i.fa.fa-download
                                            a(href='')
                                                span Cursus_Etiam.pdf
                                                small (352KB, PDF)
