.container-fluid.containsimage
    img.img-responsive.full-width(src='/img/pilt3-slider-compressor.jpg')
#tutvustus
.container-fluid.skewed
    .textcontent
        .skew
            .textcontainer.container
                p Igaühel meist on oma lugu ja oma roll teiste lugudes. Kõik me oleme kellegi lapsed ja mingi piirkonna elanikud, kõik me pärime oma kultuuri, kodukoha ja perekonna pärandi. Eesti lugu, kogu me lugu, moodustub erinevate Eesti inimeste lugudest.
                p Need lood ei edasta minevikust täielikku pilti, vaid annavad seda edasi läbi rääkija objektiivi, mis võib olla vägagi erinev meie enda omast. Neid lugusid kuulates kogeme maailma teistsugusel, vahest harjumatul viisil. Pealtnäha olemegi erinevad, kordumatud. See, mis aga peitub igas inimeses sügaval sisimas, on meil ühine.
                hr
                p Kogu Me Lugu on algatus koguda, uurida ja jagada Eesti perede lugusid. Algatuse raames kogutakse, talletatakse ja levitatakse Nõukogude ja Saksa okupatsioonide ajal Eestis elanud, nimetatud võimude eest Eestist põgenenud või nende tegevuse tulemusena Eestisse sattunud inimeste ning nende järeltulijate mälestusi ja elulugusid.
    #tutvustus-bottom.container
        .row
            .col-md-6.col-md-offset-3
                p.highlighted.center
                    b Iga lugu on omapärane, samas osa suuremast loost. Iga lugu on Eesti lugu ja ühtlasi kogu inimkonna lugu.
.container-fluid.containsimage.envelopeimage
.triangles
    img(src='/img/blue-triangle-overlay.svg')
    //- .left-triangle
    //- .right-triangle
    //- img.img-responsive.full-width(src='/img/pilt2-compressor.jpg')
