nav#galleryNav.navbar-default.navbar-fixed-top.shrink
    .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#kml-navbar-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='/' + page.language)
            img(src='/assets/img/kogumelugu-turquoise.svg')
    #kml-navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
            each m in G.menu
                li
                    a(href=m.link)= m.text
            li.visible-xs.visible-sm
                a(href=G.menu[0].link)= G.menu[0].text
            li
        //- ul.nav.navbar-nav
        ul.nav.navbar-nav.navbar-right
            //- li
            //-     .search
            //-         input(ng-model='sData.query', ng-change='doFilter(false)', type='text', placeholde=G.filterQuery)

            for l, idx in page.otherLocales
                li
                    a(href='/' + idx + '/' + l.path)= idx
