#galleryPush(style='background:#3a3a3c; background-size: cover; padding:0px; _:none')

.gallery.container
    .row
        each v, idx in F.videos
            - var path = v.properties.path.values ? '/' + page.language + '/video/' + v.properties.path.values[0].value : ''
            - var img = v.properties.videoUrl.values ? '/thumbnails/' + v.properties.videoUrl.values[0].value + '.jpg' : ''

            a(href=path)
                .video-thumb(style="background:url('" + img + "');background-position: center center; background-size:cover;", data-idx=idx)
                    .overlay
                    .wrapper
                        h4
                            span= v.displayname
                        p= v.displayinfo
