.footer
	.container
		.row
			.col-md-6.logosfooter
				a(href='http://mnemosyne.ee' target='_blank')
					img.img-responsive.unitaslogo(src='/img/EstiofHMem - logo.jpg')
				
			.col-md-5
				p
					b Estonian Institute of Historical Memory
				p info@mnemosyne.ee
				p (+372) 6645 039
				p Suur-Ameerika 12-39, 10119 Tallinn
			.col-md-1.socialfooter
				ul
					a(href='http://unitas.ee', target='_blank')
						li
							img(src='/img/webicon.svg')
					a(href='https://www.facebook.com/KoguMeLugu/', target='_blank')
						li
							img(src='/img/facebooksocialicon.svg')
					a(href='https://twitter.com/UnitasFNDN', target='_blank')
						li
							img(src='/img/twittersocialicon.svg')
