.footer
	.container
		.row
			.col-md-4.logosfooter
				a(href='http://unitas.ee' target='_blank')
					img.img-responsive.unitaslogo(src='img/unitas+logo.jpg')
				img.img-responsive.footerlogo(src='img/kogumelugu-turquoise.svg')
			.col-md-3
				p
					b Sihtasutus Unitas
				p info[at]unitasfoundation.org
				p (+372) 6645 039
				p Roseni 7, 10111, TALLINN
			.col-md-1.socialfooter
				ul
					a
						li
							img(src='img/webicon.svg')
					a
						li
							img(src='img/facebooksocialicon.svg')
					a
						li
							img(src='img/twittersocialicon.svg')
			.col-md-4.mailfooter
				p
					b Telli "Kogu Me Lugu" uudiskiri
				form
					input.form-control(type='text', placeholder='Sinu e-posti aadress')
					input.btn.btn-submit(type='submit', value='Liitu')
