.footer
	.container
		.row
			.col-md-6.logosfooter
				a(href='http://unitas.ee' target='_blank')
					img.img-responsive.unitaslogo(src='/img/unitas+logo.jpg')
				
			.col-md-5
				p
					b Unitas Foundation
				p info@unitasfoundation.org
				p (+372) 6645 039
				p Roseni 7, 10111, TALLINN
			.col-md-1.socialfooter
				ul
					a(href='http://unitas.ee', target='_blank')
						li
							img(src='/img/webicon.svg')
					a(href='https://www.facebook.com/KoguMeLugu/', target='_blank')
						li
							img(src='/img/facebooksocialicon.svg')
					a(href='https://twitter.com/UnitasFNDN', target='_blank')
						li
							img(src='/img/twittersocialicon.svg')
