.footer
	.container
		.row
			.col-md-4.logosfooter
				a(href='http://unitas.ee' target='_blank')
					img.img-responsive.unitaslogo(src='/img/unitas+logo.jpg')
				
			.col-md-3
				p
					b Sihtasutus Unitas
				p info@unitasfoundation.org
				p (+372) 6645 039
				p Roseni 7, 10111, TALLINN
			.col-md-1.socialfooter
				ul
					a
						li
							img(src='/img/webicon.svg')
					a
						li
							img(src='/img/facebooksocialicon.svg')
					a
						li
							img(src='/img/twittersocialicon.svg')
			.col-md-4.mailfooter
				p
					b Telli "Kogu Me Lugu" uudiskiri

				// Begin MailChimp Signup Form
				form#mc-embedded-subscribe-form.validate(action='//unitasfoundation.us6.list-manage.com/subscribe/post?u=4fddc06b8b5a01ff32f8f7578&id=1c3ce8501a', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
					#mc_embed_signup_scroll
						.mc-field-group
						input#mce-FNAME.required(type='text', value='*', name='FNAME', style='display:none')
						.mc-field-group
						input#mce-LNAME.required(type='text', value='*', name='LNAME', style='display:none')
						.mc-field-group
						input#mce-EMAIL.required.email.form-control(type='email', value='', name='EMAIL', placeholder='Sinu e-posti aadress')
						#mce-responses.clear
						#mce-error-response.alert.alert-danger.response(style='display:none')
						#mce-success-response.alert.alert-success.response(style='display:none')

						div(style='position: absolute; left: -5000px;height:0;', aria-hidden='true')
							input(type='text', name='b_4fddc06b8b5a01ff32f8f7578_1c3ce8501a', tabindex='-1', value='')
						.clear
						input#mc-embedded-subscribe.btn.btn-submit(type='submit', value='Liitu', name='subscribe')
				script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
