.container-fluid.cta
    .container
        .row
            .col-md-6.col-md-offset-3
                a.btn(href='#toeta') Soovin toetada
            .col-md-1.evlogo.hidden
                img.img-responsive(src='img/ev100.png')
