extends layout

block javascript
    script(type='text/javascript', src='js/filestyle.min.js')
    script(type='text/javascript').
        function moveScroller() {
            var move = function() {
                var st = $(window).scrollTop();
                var ot = $("#carousel").height();
                var s = $(".navbar-default");
                if (st > ot) {
                    s.addClass('navbar-fixed-top ');
                    s.addClass('shrink');
                } else {
                    if (st <= ot) {
                        s.removeClass('navbar-fixed-top ');
                        s.removeClass('shrink');
                    }
                }
            };
            $(window).scroll(move);
            move();
        }

        $(function() {
            moveScroller();
        });

        function setCustom() {
            var value = $('.customsum').val();
            $('#customsum').val(value);
            console.log(value);
        }

        $('.teema').click(function() {
            $(this).addClass('flip');
        });

block body
    include index-carousel
    include index-nav
    include index-search
    include index-supportlink
    include index-intro
    include index-send
    include index-quote
    include index-subjects
    include index-supporters
    include index-support
    include index-footer
