.footer
    .container
        img.img-responsive.footerlogo(src='img/kogumelugu-turquoise.svg')
        ul
            li
                a(href='https://www.facebook.com/KoguMeLugu/')
                    img.img-responsive(src='img/facebook-black.svg')
            li
                a(href='mailto:info@unitasfoundation.org')
                    img.img-responsive(src='img/email-black.svg')
