nav.navbar-default
    .container-fluid
        //- Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.visible-xs(href='#')
                img(src='img/kogumelugu-black.svg')
        //- Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='#videoGallery') Videoteek
                li
                    a(href='#tutvustus') Tutvustus
                li
                    a(href='#sinulugu') Saada lugu
                li
                    a(href='#teemad') Teemad
                li
                    a(href='#kaart') Kaart
                li
                    a(href='#toetajad') Tegijad
                li
                    a(href='#toeta') Toeta
                li
                    a(href='/') Avaleht
            ul.navbar-nav
                li.hidden-sm.overlay-logo
                    img(src='img/kogumelugu-turquoise.svg')
            ul.nav.navbar-nav.navbar-right
                li
                    a.btn.btn-inverse(href='#') Logi sisse
                li
                    a.btn.btn-inverse(href='#') ENG
                li
                    a.btn.btn-inverse(href='#') RUS
