#carousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
        li.active(data-target='#carousel', data-slide-to='0')
        //- <li class="video" data-target="#carousel" data-slide-to="1"><img src="img/play.svg" class="img-responsive"></li>
        li(data-target='#carousel', data-slide-to='1')
        li(data-target='#carousel', data-slide-to='2')
        //- li(data-target='#carousel', data-slide-to='3')
    .carousel-inner(role='listbox')
        .item.active
            img(src='/img/vonlngusteosed/EdwardvonL6ngus_kogumelugu_Velise2.jpg', alt='...')
            .carousel-caption= locale.carouselMessage[0]
        .item
            img(src='/img/vonlngusteosed/EdwardvonL6ngus_torupillimees.jpg', alt='...')
            .carousel-caption= locale.carouselMessage[1]
        .item
            img(src='/img/vonlngusteosed/EdwardvonL6ngus_kogumelugu_Lehte.jpg', alt='...')
            .carousel-caption= locale.carouselMessage[2]
