#toeta.container-fluid.toeta.toeta-top
    .container
        h2
            span.darkened Sinu panus loeb,&nbsp;
            | t채nud,&nbsp;
            span.darkened et toetasid algatust!
        p.center.white
            b T채name sind, SIIA NIMI, et toetasid. Oskame seda hinnata. Oled n체체dsest ka meie uudiskirja saajate listis ja hoiame teid oma toimetamistega kursis.

.container-fluid.toeta.toeta-bottom.thankyou-bottom
    .container
        a(href='/')
            .btn.btn-primary
                | Tagasi lehele
