.container-fluid.containsimage
    img.img-responsive.full-width(src='/img/pilt3-slider-compressor.jpg')
#tutvustus
.container-fluid.skewed
    .textcontent
        .skew
            .textcontainer.container
                p Each of us has a story and a role in other stories. We are all children of our parents and residents of where we live. We all inherit our cultural, regional and family heritage. The Estonian story, our entire story, is made of different stories of the Estonian people.

                p These stories do not provide a complete picture of the past, but represent it through the lens of the speaker, which can be very different from our own. Listening to these stories we experience life in different, perhaps unfamiliar ways. Indeed, as individuals we are different, unique. However, what we share deep inside us is common to all.
                .row.bg
                    .col-md-4
                        p Kogu Me Lugu \(translates into Collect Our Story, We're Collecting The Story, also Our Entire Story) is an initiative to collect, preserve and share the family stories of Estonians.
                    .col-md-4
                        p The initiative collects the memories of people who were repressed by the Soviet or Nazi regimes, people who escaped Estonia during the occupations of said regimes or arrived in Estonia as a result of the occupations.
                        p Kogu Me Lugu was initiated by the Unitas Foundation on the June deportations Commemoration Day on 14th July 2013.

                    .col-md-4
                        p The initiative is unique for its focus on audiovisal storytelling of Estonian oral history - the stories are stored as video interviews and produced as short films and used for educational purposes.
    #tutvustus-bottom.container
        .row
            .col-md-6.col-md-offset-3
                p.highlighted.center
                    b Each story is unique, yet part of a larger story. Each story is the Estonian story and also the story of mankind.
.container-fluid.containsimage.envelopeimage
.triangles
    img(src='/img/blue-triangle-overlay.svg')
    //- .left-triangle
    //- .right-triangle
    //- img.img-responsive.full-width(src='/img/pilt2-compressor.jpg')
