.container-fluid.searchcontainer
    form.homesearch.container(action='/video')
        .form-group
            .col-md-9
                input.form-control(name='query', type='text', placeholder='Otsi nime või kohta')
            .col-md-3
                input.btn.btn-primary(type='submit', value='Leia lugu')
