.quote
    //- <img src="img/pilt4.jpg" class="img-responsive">
    img.img-responsive.full-width(src='/img/pilt3-compressor.jpg')
    .quotecontainer
        h4.lefttitle More than
        h4.righttitle Memories
        .quotetext
            p I want to learn not only about the history of Estonia during World War II, but also to further my research on war victims and how they consolidate and remember turmoil. In order to step closer to comprehending a past, we must dig up the stories and focus on the different ways in which histories are remembered.
            h4.author Janae Barrett, participant in the Kogu Me Lugu study course in the USA
