extends ../layout.et.jade

block javascript
    script(type='text/javascript', src='/js/filestyle.min.js')
    script(type='text/javascript', src='/js/index.js')

block body
    -
        var locale = {
            menu: [
                { link: 'video', text: 'Videoteek' },
                { link: '/' + lang + '#tutvustus', text: 'Tutvustus' },
                { link: '/' + lang + '#sinulugu', text: 'Saada lugu' },
                { link: '/' + lang + '#teemad', text: 'Teemad' },
                { link: '/' + lang + '#toetajad', text: 'Tegijad' },
                { link: '/' + lang + '#toeta', text: 'Toeta' },
            ],
            signin: 'Logi sisse',
            exit: 'Logi välja',
            searchPlaceholder: 'Otsi nime või kohta',
            searchSubmit: 'Leia lugu',
            supportlink: 'Soovin toetada',
            topicTree: 'Kogu Me Lugu Teemapuu',
            carouselMessage: [
              'Igaühel meist on oma lugu',
              'Oma roll teiste lugudes',
              'Eesti lugu, kogu me lugu',
              'Kõik me pärime oma kultuuri'
            ],
        }

    include index-carousel
    include index-nav
    include index-search
    include index-supportlink
    include index-intro.et.jade
    include index-send.et.jade
    //- include index-quote.et.jade
    //- include index-subjects
    include index-supporters.et.jade
    include index-support.et.jade
