#sinulugu
.formcontent
    #sinulugu-top.container-fluid
        .container
            h2 Submit your story
    #sinulugu-bottom.container-fluid
        .container
            p If you have material you would like to share or archive, or contacts to suggest for interviewing, please fill out the form below.

            p We recommend that you add as much and as accurate information about the submitted story, contact person or material, as possible, so that it will be easier for us to find proper use for it.

            p All stories, materials and contacts submitted through the form are initially saved in the Kogu Me Lugu database, accessible only to the Kogu Me Lugu platform administrators. The material is analyzed on the basis of its content and descriptive information, and if suitable, integrated with the platform, providing public access to the material as well as use in educational activities.

            p The stories which include storyteller information will be used for interviews selection. If the story meets the Kogu Me Lugu requirements, the contact person indicated in the form will be contacted to discuss the possibility of interviewing the storyteller. If suitable, an interview is arranged.

            p Materials suitable for archiving sent via the form are stored in the Museum of Occupations archive or other suitable archive within the Kogu Me Lugu network. Video interviews are stored in the Film Archives of the Estonian National Archives.

            form
                .row
                    .form-group.col-md-6.col-sm-6.col-xs-12
                        textarea.form-control(type='text', placeholder='Story or material title')
                    .form-group.col-md-6.col-sm-6.col-xs-12
                        textarea.form-control(type='text', placeholder='Your contact number')
                    .form-group.col-md-6.col-sm-6.col-xs-12
                        textarea.form-control(type='text', placeholder='Your name')
                    .form-group.col-md-6.col-sm-6.col-xs-12
                        textarea.form-control(type='text', placeholder='Your e-mail address')
                    .form-group.col-md-12.col-sm-6.col-xs-12
                        textarea.form-control(placeholder='Storyteller or material owner name and date of birth')
                    .form-group.col-md-12.col-sm-6.col-xs-12
                        textarea.form-control(placeholder='Short summary of story or material')
                    .form-group.col-md-12.col-sm-12.col-xs-12
                        input.form-control.fileupload.filestyle(type='file', data-input='false', data-buttonname='btn-default', data-buttontext='Upload video or document')
                    .form-group.col-md-12.col-sm-12.col-xs-12
                        textarea.form-control(placeholder='Comments and additional information')
                p.description * By submitting this form I authorize the Unitas Foundation to use the submitted material within the Kogu Me Lugu initiative for educational purposes in the form of text, photo or video.

                .form-group.button
                    a.btn.btn-primary-outline(href='/' + lang) Submit story

            .check
                hr
                p Your name
                p Your phone and e-mail

                p
                    b Loo pealkiri

                p Storyteller or material owner name and date of birth

                p Short summary

                p
                    a(href='/' + lang)|Failid kõik paragraphidena

                p
                    b Kinnitades jõuab ülevalolev info meieni

                a(href='/' + lang).btn.btn-primary-outline
                    | Soovin muuta

                a(href='/' + lang).btn.btn-primary-outline
                    | Kinnitan ja saadan

            .confirmation
                hr
                p
                    b Täname, et oled pannud panuse meie lugude täiendamisele. Oskame seda hinnata. Oled nüüdsest ka meie uudiskirja saajate listis ja hoiame teid oma toimetamistega kursis.
