extends ../layout.et.jade

block javascript
    script(type='text/javascript', src='js/filestyle.min.js')
    script(type='text/javascript', src='js/index.js')

block body
    -
        var locale = {
            menu: [
                { link: '/video', text: 'Videoteek' },
                { link: '/#tutvustus', text: 'Tutvustus' },
                { link: '/#sinulugu', text: 'Saada lugu' },
                { link: '/#teemad', text: 'Teemad' },
                { link: '/#toetajad', text: 'Tegijad' },
                { link: '/#toeta', text: 'Toeta' },
            ],
            searchPlaceholder: 'Otsi nime või kohta',
            searchSubmit: 'Leia lugu',
            supportlink: 'Soovin toetada'
        }

    include index-carousel
    include index-nav
    include index-search
    include index-supportlink

    include index-intro.et.jade
    include index-send.et.jade
    include index-quote.et.jade
    include index-subjects.et.jade
    include index-supporters.et.jade
    include index-support.et.jade
