#teemad.container-fluid.teemad
    h2 Kogu Me Lugu Teemapuu
    .teemadegrid.container
        #teemapuu.row
            .teema.col-md-6.lg
                .front
                    table
                        tr
                            td
                                h3 Teine maailmasõda
                        tr
                            td
                                .btn.btn-primary-outline Vaata teemasid
                .back
                    //- - Kuni 15 teemat, siis class teemal lg --
                    table
                        tr
                            td
                                a(href='#') Teema 1
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 1
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 1
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 1
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 1
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
            .teema.col-md-3.sm
                .front
                    table
                        tr
                            td
                                h3 Külm sõda
                        tr
                            td
                                .btn.btn-primary-outline Vaata teemasid
                .back
                    //- - Kuni 6 teemat class sm -
                    table
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
            .teema.col-md-3.sm
                .front
                    table
                        tr
                            td
                                h3 NSVL ja Kommunistlik süsteem
                        tr
                            td
                                .btn.btn-primary-outline Vaata teemasid
                .back
                    //- - Kuni 6 teemat class sm -
                    table
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
            .teema.col-md-3.sm
                .front
                    table
                        tr
                            td
                                h3 Maailm sajandivahetusel
                        tr
                            td
                                .btn.btn-primary-outline Vaata teemasid
                .back
                    //- - Kuni 6 teemat class sm -
                    table
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
            .teema.col-md-3.sm
                .front
                    table
                        tr
                            td
                                h3 Demokraatlik maailm pärast teist maailmasõda
                        tr
                            td
                                .btn.btn-primary-outline Vaata teemasid
                .back
                    //- - Kuni 6 teemat class sm -
                    table
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
            .teema.col-md-4.md
                .front
                    table
                        tr
                            td
                                h3 Eesti ja maailm: Eluolu ja kultuur
                        tr
                            td
                                .btn.btn-primary-outline Vaata teemasid
                .back
                    //- - Kuni 8 teemat class md -
                    table
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
            .teema.col-md-4.md
                .front
                    table
                        tr
                            td
                                h3 Sõja ja rahu küsimus
                        tr
                            td
                                .btn.btn-primary-outline Vaata teemasid
                .back
                    //- - Kuni 8 teemat class md -
                    table
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
            .teema.col-md-4.md
                .front
                    table
                        tr
                            td
                                h3 Inimsusevastased kuriteod
                        tr
                            td
                                .btn.btn-primary-outline Vaata teemasid
                .back
                    //- - Kuni 8 teemat class md -
                    table
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
                        tr
                            td
                                a(href='#') Teema 2
                            td
                                a(href='#') Teema 2
.container-fluid.cta.white-cta
    .container
        a.btn(href='#')
            | Vaata kõiki märksõnu
