extends ../layout.en.jade

block javascript
    script(type='text/javascript', src='/js/filestyle.min.js')
    script(type='text/javascript', src='/js/index.js')

block body
    -
        var locale = {
            menu: [
                { link: 'video', text: 'Videos' },
                { link: '/' + lang + '#tutvustus', text: 'Introduction' },
                { link: '/' + lang + '#sinulugu', text: 'Submit Story' },
                { link: '/' + lang + '#teemad', text: 'Topics' },
                { link: '/' + lang + '#toetajad', text: 'Team' },
                { link: '/' + lang + '#toeta', text: 'Support Us' },
            ],
            signin: 'Log In',
            exit: 'Log Out',
            searchPlaceholder: 'Search for name or place',
            searchSubmit: 'Find story',
            supportlink: 'Donate now',
            topicTree: 'Kogu Me Lugu Topic Tree',
            carouselMessage: [
              'Igaühel meist on oma lugu',
              'Oma roll teiste lugudes',
              'Eesti lugu, kogu me lugu',
              'Kõik me pärime oma kultuuri'
            ],
        }

    include index-carousel
    include index-nav
    include index-search
    include index-supportlink
    include index-intro.en.jade
    include index-send.en.jade
    //- include index-quote.en.jade
    //- include index-subjects
    include index-supporters.en.jade
    include index-support.en.jade
