.quote
    //- <img src="img/pilt4.jpg" class="img-responsive">
    img.img-responsive.full-width(src='/img/pilt3-compressor.jpg')
    .quotecontainer
        h4.lefttitle Enam kui
        h4.righttitle mälestused
        .quotetext
            p Tahaksin õppida mitte ainult Eesti ajalugu Teise maailmasõja ajal, aga arendada ka oma uurimistööd sõjaohvritest ja sellest, kuidas inimesed sõjaaega üle elavad ja mäletavad. Selleks, et jõuda lähemale mineviku mõistmisele, peame kaevama välja lood ja keskenduma erinevatele viisidele, kuidas ajalugu mäletatakse.
            h4.author Janae Barrett, Kogu Me Lugu USA õppeprogrammis osaleja
