#teemad
.container-fluid.teemad
    h2 Kogu Me Lugu Teemapuu
    .teemadegrid.container
        #teemapuu.row
            a(href='video?subject=Teine maailmasõda')
                .teema.col-md-6.lg
                    .front
                        table
                            tr
                                td
                                    h3 Teine maailmasõda
            a(href='video?subject=Külm sõda')
                .teema.col-md-3.sm
                    .front
                        table
                            tr
                                td
                                    h3 Külm sõda

            a(href='video?subject=NSVL ja Kommunistlik süsteem')
                .teema.col-md-3.sm
                    .front
                        table
                            tr
                                td
                                    h3 NSVL ja Kommunistlik süsteem
            a(href='video?subject=Maailm sajandivahetusel')
                .teema.col-md-3.sm
                    .front
                        table
                            tr
                                td
                                    h3 Maailm sajandivahetusel
            a(href='video?subject=Demokraatlik maailm pärast teist maailmasõda')
                .teema.col-md-3.sm
                    .front
                        table
                            tr
                                td
                                    h3 Demokraatlik maailm pärast teist maailmasõda
            a(href='video?subject=Eesti ja maailm: Eluolu ja kultuur')
                .teema.col-md-4.md
                    .front
                        table
                            tr
                                td
                                    h3 Eesti ja maailm: Eluolu ja kultuur
            a(href='video?subject=Sõja ja rahu küsimus')
                .teema.col-md-4.md
                    .front
                        table
                            tr
                                td
                                    h3 Sõja ja rahu küsimus
            a(href='video?subject=Inimsusevastased kuriteod')
                .teema.col-md-4.md
                    .front
                        table
                            tr
                                td
                                    h3 Inimsusevastased kuriteod
//- .container-fluid.cta.white-cta
//-     .container
//-         a.btn(href='#')
//-             | Vaata kõiki märksõnu
