.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 190px);
  background: none no-repeat 50% 50% / cover;
  @media (max-width: 1023px) {
    height: calc(100vh - 150px);
  }
  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    top:0;
    left:0;
    width: 900px;
    max-width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($black,1) 0%,rgba(36,43,69,0) 100%);
  }
  .main-post {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    width: 100%;
    padding: 20px;
    color: $white;
    background: none no-repeat 50% 50%/cover;
    &[style] {
      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        display: block;
        top:0;
        left:0;
        width: 900px;
        max-width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba($black,1) 0%,rgba(36,43,69,0) 100%);
      }
    }
    &:hover {
      .text {
        background-image: url("data:image/svg+xml,#{$icon-play-fill}");
      }
    }
    .text {
      position: relative;
      z-index: 2;
      width: 1160px;
      max-width: 100%;
      padding: 20px 0 20px 80px;
      font-size: 14px;
      line-height: 20px;
      background: url('data:image/svg+xml,#{$icon-play}') no-repeat 0 50%;
      transition: all .2s;
      h2 {
        width: 480px;
        max-width: 100%;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
        text-transform: uppercase;
      }
      p {
        width: 480px;
        max-width: 100%;
      }
    }
  }
  .posts-list {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
    a {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      flex:1;
      padding: 20px;
      min-height: 160px;
      color: $white;
      font-size: 12px;
      line-height: 20px;
      background: none no-repeat 50% 50% / cover;
      transition: all .2s;
      &:hover {
        transform: scale(1.1);
        z-index: 2;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 40px;
        bottom: 0;
        left:0;
        width: 100%;
        background: linear-gradient(to top, rgba($black,1) 0%,rgba(36,43,69,0) 100%);
      }
      h3 {
        position: relative;
        z-index: 2;
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
      }
      p {
        position: relative;
        z-index: 2;
      }
    }
  }
  @media (max-width: 768px) {
    height: auto;
    .main-post {
      height: 50vh;
    }
    .posts-list {
      flex-wrap: wrap;
      a {
        min-width: 260px;
      }
    }
  }
  @media (max-width: 559px) {
    .posts-list {
      padding: 0;
    }
  }
}