.searchbox {
  flex-shrink:0;
  padding: 20px 0;
  background: $black;
  form {
    position: relative;
    display: flex;
    align-items: center;
    i {
      position: absolute;
      top: 15px;
      left: 20px;
      display: block;
      line-height: 20px;
    }
    input {
      display: block;
      flex:1;
      appearance: none;
      margin-right: 20px;
      height: 50px;
      min-width: 1px;
      padding: 15px 25px 15px 50px;
      border: 0;
      border-radius: 25px;
    }
    @media (max-width: 480px) {
      display: block;
      input {
        width: 100%;
        margin: 0 0 10px;
      }
      .btn {
        width: 100%;
      }
    }
  }
}
@media (min-width: 1024px) {
  .header + .searchbox {
    .u-container {
      padding-left: 200px;
    }
  }
}