.videos {
  overflow: hidden;
  margin: 20px -20px;
  &--item {
    display: inline-flex;
    vertical-align: top;
    width: calc(33.333333% - 40px);
    height: 200px;
    font-size: 12px;
    line-height: 20px;
    margin: 20px;
    overflow: hidden;
    background: no-repeat 50% 50% / cover;
    transition: all .2s;
    &:hover {
      transform: scale(1.05);
    }
    &:nth-child(11n+2),
    &:nth-child(11n+3),
    &:nth-child(11n+4),
    &:nth-child(11n+5) {
      @media (min-width: 769px) {
        .videos & {
          width: calc(25% - 40px);
          height: 140px;
          &:hover {
            transform: scale(1.1);
          }
          a {
            &:after {
              top: 0;
            }
            .text {
              font-size: 11px;
              line-height: 15px;
              h2 {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 0;
                span {
                  margin-right: 5px;
                }
                &:after {
                  height: 20px;
                  width: 16px;
                  background: url("data:image/svg+xml,#{$icon-play-tiny}") no-repeat 50% 50% / 16px;
                }
              }
            }
            &:hover {
              .text {
                h2,
                h3 {
                  &:after {
                    background-image: url("data:image/svg+xml,#{$icon-play-tiny-fill}");
                  }
                }
              }
            }
          }
        }
      }
    }
    &:nth-child(11n+1) {
      @media (min-width: 769px) {
        .videos & {
          float: left;
          width: calc(50% - 40px);
          height: 320px;
          a {
            &:after {
              top: 50%;
            }
            .text {
              h2 {
                &:after {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 100px;
                  height: 100px;
                  margin: -50px 0 0 -50px;
                  background: url('data:image/svg+xml,#{$icon-play-large}') no-repeat 50% 50%;
                }
              }
            }
            &:hover {
              .text {
                h2 {
                  &:after {
                    background-image: url('data:image/svg+xml,#{$icon-play-large-fill}');
                  }
                }
              }
            }
          }
        }
      }
    }
    a {
      position: relative;
      display: flex;
      align-items: flex-end;
      color: $white;
      flex:1;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        top: 40px;
        background: linear-gradient(to top, rgba($black,1) 0%,rgba($black,0) 100%);
      }
      img {
        display: block;
      }
      .text {
        width: 100%;
        padding: 20px;
        font-size: 14px;
        line-height: 20px;
        z-index: 2;
        h2,
        h3 {
          font-size: 30px;
          line-height: 30px;
          text-transform: uppercase;
          margin-bottom: 10px;
          span {
            margin-right: 10px;
          }
          &:after {
            content: "\002E";
            display: inline-block;
            vertical-align: top;
            height: 30px;
            width: 30px;
            font-size: 1px;
            background: url("data:image/svg+xml,#{$icon-play-small}") no-repeat 50% 50% / 30px;
            transition: all .2s;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &:hover {
        .text {
          h2,
          h3 {
            &:after {
              background-image: url("data:image/svg+xml,#{$icon-play-small-fill}");
            }
          }
        }
      }
    }
  }
  &--related {
    .videos--item {
      width: 100%;
      height: 140px;
      margin: 0 0 20px;
      a {
        &:after {
          top: 0;
        }
        .text {
          font-size: 11px;
          line-height: 15px;
          h3 {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0;
            span {
              margin-right: 5px;
            }
            &:after {
              height: 20px;
              width: 16px;
              background: url("data:image/svg+xml,#{$icon-play-tiny}") no-repeat 50% 50% / 16px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1023px) {
    margin: 10px -10px;
    .videos--item {
      margin: 10px;
      width: calc(33.33333% - 20px);
      &:nth-child(11n+1) {
        float: none;
        width: auto;
        display: flex;
      }
      &:nth-child(11n+2),
      &:nth-child(11n+3),
      &:nth-child(11n+4),
      &:nth-child(11n+5) {
        width: calc(25% - 20px);
      }
    }
    &--related {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 -10px -20px;
      h2 {
        width: 100%;
        margin: 0 10px 20px;
      } 
      .videos--item {
        width: calc(25% - 20px);
        margin: 0 10px 20px;
      }
    }
  }
  @media (max-width: 768px) {
    .videos--item {
      width: calc(50% - 20px);
      height: 200px;
      &:nth-child(11n+2),
      &:nth-child(11n+3),
      &:nth-child(11n+4),
      &:nth-child(11n+5) {
        width: calc(50% - 20px);
        height: 200px;
      }
      &:nth-child(11n+1) {
        height: 240px;
      }
    }
    &--related {
      .videos--item {
        width: calc(50% - 20px);
      }
    }
  }
  @media (max-width: 480px) {
    .videos--item {
      width: calc(100% - 20px);
      &:nth-child(11n+2),
      &:nth-child(11n+3),
      &:nth-child(11n+4),
      &:nth-child(11n+5) {
        width: calc(100% - 20px);
      }
      &:nth-child(11n+1) {
        height: 200px;
      }
      .text {
        h2 {
          font-size: 24px;
        }
      }
    }
    &--related {
      .videos--item {
        width: calc(100% - 20px);
      }
    }
  }
}
.loading {
  margin-bottom: 40px;
  font-family: $oswald;
  color: #D0D3DF;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;  
  text-align: center;
  @media (max-width: 1023px) {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }
}