footer.footer
    .u-container.footer--content
        a.emi-logo(href='http://mnemosyne.ee/')
            img(src='/assets/images/emi-white.png', alt='Eesti Mälu Instituut')
        .footer--data
            h3 SA Eesti Mälu Instituut
            ul
                li
                    i.fa.fa-envelope
                    a(href='mailto:info@mnemosyne.ee') info@mnemosyne.ee
                li
                    i.fa.fa-phone
                    | +372 664 5039
                li
                    i.fa.fa-phone
                    | +372 648 4962
                li
                    i.fa.fa-map-marker
                    | Suur-Ameerika 12-39, 10119 Tallinn

        .footer--social
            ul
                li
                    a(href='https://www.facebook.com/eestimaluinstituut/?ref=ts&fref=ts')
                        i.fa.fa-facebook-square
                li
                    a(href='')
                        i.fa.fa-instagram
