header.header
    .u-container
        a.logo(href=getPath(''))
            img(src='/assets/images/logo.png', alt='Kogu Me Lugu!')

        button.btn.menu--toggle(type='button')

        nav.main-menu
            ul
                each n in self.menu
                    li(class=(n.path === self.path ? 'u-active' : ''))
                        a(href=n.path)= n.title

        nav.lang-menu
            each p, locale in self.otherLocalePaths
                a(href=(p !== '/' ? p + '/' : '/'))= locale.toUpperCase()
