header.header
    .u-container
        a.logo(href='/' + self.locale + '/')
            img(src='/assets/images/logo.png', alt='Kogu Me Lugu!')

        button.btn.menu--toggle(type='button')

        nav.main-menu
            ul
                each n in self.menu
                    li(class=n.path === '/' + self.locale + '/' + self.path ? 'u-active' : '')
                        a(href=n.path)= n.title

        nav.lang-menu
            a(href='/et/' + self.path) ET
            a(href='/en/' + self.path) EN
            //- a(href='/ru/' + self.path) RU
