header.header
    .u-container
        a.logo(href='/' + self.locale + '/')
            img(src='/assets/images/logo.png', alt='Kogu Me Lugu!')

        button.btn.menu--toggle(type='button')

        nav.main-menu
            ul
                each n in self.menu
                    li(class=n.path === '/' + self.locale + '/' + self.path ? 'u-active' : '')
                        a(href=n.path)= n.title

        nav.lang-menu
            if self.locale !== 'et'
                a(href='/et/') ET
            if self.locale !== 'en'
                a(href='/en/') EN
            if self.locale !== 'ru'
                a(href='/ru/') RU
