.searchbox
    .u-container
        form(action='video-list.html')
            i.fa.fa-search
            input(type='search', placeholder=self.texts.searchbox.placeholder)
            button.btn.btn--primary(type='submit')= self.texts.searchbox.findButton
