.searchbox
    .u-container
        form(action='video-list.html')
            i.fa.fa-search
            input(type='search', placeholder='Otsi…')
            button.btn.btn--primary(type='submit') Leia lugu
