#galleryPush(style='background:#3a3a3c; background-size: cover; padding:0px; _:none')

.gallery.container
    .row
        a(ng-repeat='v in sData.videos' ng-href='video/{{ v.id }}')
            div(style="background:url('video/picture?id={{ v.video }}');background-position: center center; background-size:cover;", ng-class='getClass($index)')
                .overlay
                .wrapper
                    h4
                        span {{ v.name }}
                    p {{ v.info }}

.loadmore
    h2#notReady= locale.notReady
