extends ../layout.en.jade

block javascript
    script(type='text/javascript', src='/js/video.js')

block body
    -
        var locale = {
            menu: [
                { link: '/' + lang, text: 'Home' },
                { link: '/' + lang + '#tutvustus', text: 'Introduction' },
                { link: '/' + lang + '#sinulugu', text: 'Submit Story' },
                { link: '/' + lang + '#teemad', text: 'Topics' },
                { link: '/' + lang + '#toetajad', text: 'Team' },
                { link: '/' + lang + '#toeta', text: 'Support Us' },
            ],
            signin: 'Log In',
            exit: 'Log Out',
            filterSubject: 'Pick a Subject',
            filterRegion: 'Select Region',
            filterGeneration: 'Select Generation',
            filterQuery: 'SEARCH',
            openVideo: 'Watch a Story',
            interviewer: 'Interviewer',
            author: 'Author',
            notReady: 'Loading videos',
        }

    #videoPage
      nav#galleryNav.navbar-default.navbar-default.navbar-fixed-top.shrink
        include video-nav
      include video-page

    #videoGallery(ng-controller='vidoeGallery')
      include video-gallery
