extends ../layout.en.jade

block javascript
    script(type='text/javascript', src='/js/video.js')

block body
    -
        var locale = {
            menu: [
                { link: '/' + lang, text: 'Avaleht' },
                { link: '/' + lang + '#tutvustus', text: 'Tutvustus' },
                { link: '/' + lang + '#sinulugu', text: 'Saada lugu' },
                { link: '/' + lang + '#teemad', text: 'Teemad' },
                { link: '/' + lang + '#toetajad', text: 'Tegijad' },
                { link: '/' + lang + '#toeta', text: 'Toeta' },
            ],
            signin: 'Logi sisse',
            exit: 'Logi välja',
            filterSubject: 'Vali teema',
            filterRegion: 'Vali piirkond',
            filterGeneration: 'Vali põlvkond',
            filterQuery: 'OTSI',
            openVideo: 'Vaata lugu',
            interviewer: 'Intervjueerija',
            author: 'Autor',
        }

    #videoPage
        nav.navbar-default
            .container-fluid
                include video-nav
        include video-page

    #videoGallery(ng-controller='vidoeGallery')
        nav#galleryNav.navbar-default
            include video-nav
        include video-gallery
