extends ../layout

block javascript
    script(type='text/javascript', src='js/video.js')

block body
    #videoPage
        include video-page-nav
        include video-page

    #videoGallery
        include video-gallery-nav
        include video-gallery
