include /_mixins

extends ../_templates/layout.jade

block body

  //- #videoPage
  //-   include video-page

  #videoGallery(ng-controller='vidoeGallery')
    include video-gallery


block javascript
  script(type='text/javascript', src='/assets/js/video.js')
    
