
.gallery.container
    .row
        a(ng-repeat='v in sData.videos' ng-href='video/{{ v.id }}')
            //- div(style="background:url('https://placehold.it/579x318/?text=kml');background-position: center center; background-size:cover;", ng-class='getClass($index)')
            div(style="background:url('{{ v.video_still }}');background-position: center center; background-size:cover;", ng-class='getClass($index)')
                .overlay
                .wrapper
                    h4
                        span {{ v.name }}
                    p {{ v.info }}
                    //- p {{= (parseInt(v.video), 10).toString() === v.video) ? "vimeo" : "youtube" }}
