include /_mixins

extends _templates/layout.jade

block body

    include _templates/carousel
    include _templates/nav
    include _templates/supportlink
    include _templates/intro.jade
    include _templates/submitStory.jade
    include _templates/supporters.jade
    //- include _templates/index-support.et.jade
