.container-fluid.cta
    .container
        .row
            .col-md-6.col-md-offset-3
                a.btn(href='#toeta')= G.supportlink
            .col-md-1.evlogo.hidden
                img.img-responsive(src='/assets/img/ev100.png')
