.container-fluid.searchcontainer
    form.homesearch.container(action='video')
        .form-group
            .col-md-9
                input.form-control(name='query', type='text', placeholder=G.searchPlaceholder)
            .col-md-3
                input.btn.btn-primary(type='submit', value=G.searchSubmit)
