include /head
include /header
include /searchbox
include /footer
include /scripts

+head('Videoteek')

.wrap

	+header('/video')

	+searchbox

	main.main.u-container
		.videos
			article.videos--item(style="background-image:url(images/data/heino.png)")
				a(href="video-detail.html")
					.text
						h2
							span Heino Noor
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/ruth.png)")
				a(href="video-detail.html")
					.text
						h2
							span Ruth Sootaru (Pärntits)
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/kalju.png)")
				a(href="video-detail.html")
					.text
						h2
							span Kalju Mätik
						p Nõukogudeaegne vastupanuliikumine ja selle mahasurumise meetodid

			article.videos--item(style="background-image:url(images/data/adam.png)")
				a(href="video-detail.html")
					.text
						h2
							span Adam Brown
						p Eesti päritolu väärtustamine

			article.videos--item(style="background-image:url(images/data/sander.png)")
				a(href="video-detail.html")
					.text
						h2
							span Sander Tuul
						p Videolugu

			article.videos--item(style="background-image:url(images/data/kaja.png)")
				a(href="video-detail.html")
					.text
						h2
							span Kaja Weeks

			article.videos--item(style="background-image:url(images/data/sale.png)")
				a(href="video-detail.html")
					.text
						h2
							span Sale Katrin Marits
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/viivianne.png)")
				a(href="video-detail.html")
					.text
						h2
							span Viivianne Vaike  Malmgren
						p Usu roll küüditamise ja Siberi-aastate üleelamisel

			article.videos--item(style="background-image:url(images/data/regina.png)")
				a(href="video-detail.html")
					.text
						h2
							span Regina Trubnikova
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/lisa.png)")
				a(href="video-detail.html")
					.text
						h2
							span Lisa Trei
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/siim.png)")
				a(href="video-detail.html")
					.text
						h2
							span Siim Sööt
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/heino.png)")
				a(href="video-detail.html")
					.text
						h2
							span Heino Noor
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/ruth.png)")
				a(href="video-detail.html")
					.text
						h2
							span Ruth Sootaru (Pärntits)
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/kalju.png)")
				a(href="video-detail.html")
					.text
						h2
							span Kalju Mätik
						p Nõukogudeaegne vastupanuliikumine ja selle mahasurumise meetodid

			article.videos--item(style="background-image:url(images/data/adam.png)")
				a(href="video-detail.html")
					.text
						h2
							span Adam Brown
						p Eesti päritolu väärtustamine

			article.videos--item(style="background-image:url(images/data/sander.png)")
				a(href="video-detail.html")
					.text
						h2
							span Sander Tuul
						p Videolugu

			article.videos--item(style="background-image:url(images/data/kaja.png)")
				a(href="video-detail.html")
					.text
						h2
							span Kaja Weeks

			article.videos--item(style="background-image:url(images/data/sale.png)")
				a(href="video-detail.html")
					.text
						h2
							span Sale Katrin Marits
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/viivianne.png)")
				a(href="video-detail.html")
					.text
						h2
							span Viivianne Vaike  Malmgren
						p Usu roll küüditamise ja Siberi-aastate üleelamisel

			article.videos--item(style="background-image:url(images/data/regina.png)")
				a(href="video-detail.html")
					.text
						h2
							span Regina Trubnikova
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/lisa.png)")
				a(href="video-detail.html")
					.text
						h2
							span Lisa Trei
						p Täispikk intervjuu

			article.videos--item(style="background-image:url(images/data/siim.png)")
				a(href="video-detail.html")
					.text
						h2
							span Siim Sööt
						p Täispikk intervjuu
		.loading
			p Laadin videosid
	+footer
+scripts
