extends /layout.jade


block javascript
    script(type='text/javascript').
        $(function() {
            $('.video-thumb').each(function () {
                var classes = [
                    'col-md-6 col-sm-6 col-xs-12 video',
                    'col-md-4 col-sm-4 col-xs-12 video',
                    'col-md-4 col-sm-4 col-xs-12 video',
                    'col-md-4 col-sm-4 col-xs-12 video',
                    'col-md-6 col-sm-6 col-xs-12 video',
                    'col-md-3 col-sm-3 col-xs-6 video',
                    'col-md-3 col-sm-3 col-xs-6 video',
                    'col-md-3 col-sm-3 col-xs-6 video',
                    'col-md-3 col-sm-3 col-xs-6 video',
                    'col-md-4 col-sm-4 col-xs-12 video',
                    'col-md-4 col-sm-4 col-xs-12 video',
                    'col-md-4 col-sm-4 col-xs-12 video',
                    'col-md-6 col-sm-6 col-xs-12 video',
                ]
                $(this).addClass(classes[($(this).data('idx') + 1) % 13])
                $(this).removeClass('hidden')
            })
        })


block body
    #videoGallery(ng-controller='vidoeGallery')
        nav#galleryNav.navbar-default.navbar-default.navbar-fixed-top.shrink
            include /video/video-nav
        include /video/video-gallery
