extends /layout.jade


block javascript


block body
    #videoPage
      nav#galleryNav.navbar-default.navbar-default.navbar-fixed-top.shrink
        include /video/video-nav
    //-   include /video/video-page

    //- #videoGallery(ng-controller='vidoeGallery')
    //-   include /video/video-gallery
