extends /layout.jade


block javascript
    script(type='text/javascript', src='/assets/js/filestyle.min.js')
    script(type='text/javascript', src='/assets/js/index.js')


block body
    include /index/index-nav
    include /index/index-carousel
    include /index/index-search
    include /index/index-supportlink
    include /index/index-intro.et.jade
    include /index/index-send.et.jade
    //- include /index/index-quote.et.jade
    //- include /index/index-subjects
    include /index/index-supporters.jade
    include /index/index-support.et.jade
