extends /layout


block content
    include /searchbox

    main.main.u-container
        .videos
            each v in self.file.videos
                article.videos--item(style='background-image:urlurl(/assets/images/' + v.path + '.jpg)')
                    a(href='/' + self.locale + '/' + v.path + '/')
                        .text
                            h2
                                span= v['title_' + self.locale]
                            p= v['description_' + self.locale]
