extends /_templates/layout.pug


block vars
    -
        const getList = (t) => {
            if (!t) {
                return []
            } else if (Array.isArray(t)) {
                return t
            } else {
                return [t]
            }
        }

        const splitStr = (s) => {
            if (!s) {
                return []
            } else if (Array.isArray(s)) {
                return s.join(' ').toLowerCase().split(' ')
            } else {
                return s.toLowerCase().split(' ')
            }
        }


block script
    script.
        $(function () {
            $('input[name="q"]').focus()

            var urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^]*)').exec(window.location.href)
                if (results === null) {
                   return null
                } else {
                   return results[1] || ''
                }
            }

            var id = urlParam('id')
            var q = urlParam('q')

            if (id) {
                $('article.videos--item').hide()
                $('article.videos--item[data-id*=";' + id.trim().toLowerCase() + ';"]').show()
            }

            if (q) {
                $('article.videos--item').show()

                q = decodeURIComponent(q).replace(/\+/g, ' ').trim()

                $('input[name="q"]').val(q)

                qArray = q.split(' ')

                for (var i = 0; i < qArray.length; i++) {
                    $('article.videos--item').each(function () {
                        if (!$(this).data('q').includes(';' + qArray[i].toLowerCase() + ';')) {
                            $(this).hide()
                        }
                    })
                }

                $('input[name="q"]').val(q)
                $('input[name="q"]').focus()
            }
        })


block content
    include /_templates/searchbox.pug

    main.main.u-container
        .videos
            each v in self.data.videos
                -
                    var q = []
                    q = q.concat(splitStr(v['title_' + self.locale]))
                    q = q.concat(splitStr(v['subtitle_' + self.locale]))
                    q = q.concat(splitStr(v['description_' + self.locale]))
                    q = q.concat(getList(v.tag).map(a => splitStr(a['name_' + self.locale])))
                    q = q.concat(getList(v._tags).map(a => splitStr(a['name_' + self.locale])))
                    q = q.concat(getList(v._regions).map(a => splitStr(a['name_' + self.locale])))
                    q = q.concat(getList(v.regions).map(a => splitStr(a['name_' + self.locale])))
                    q = q.filter(x => q.indexOf(x) !== -1)

                    var id = []
                    id = id.concat(getList(v.tag).map(a => a._id))
                    id = id.concat(getList(v._persons).map(a => a._id))
                    id = id.concat(getList(v._tags).map(a => a._id))
                    id = id.concat(getList(v._regions).map(a => a._id))
                    id = id.concat(getList(v.regions).map(a => a._id))
                    id = id.concat(getList(v.author).map(a => a._id))
                    id = id.concat(getList(v.storyteller).map(a => a._id))
                    id = id.filter(x => x && id.indexOf(x) !== -1)

                article.videos--item(style='background-image:url(/assets/images/' + v.path + '_tb.png)', data-q=';' + q.join(';') + ';', data-id=';' + id.join(';') + ';')
                    a(href=getPath(v.path))
                        .text
                            h2
                                span= v['title_' + self.locale]
                            p= v['subtitle_' + self.locale]
